<!-- 不适用脚手架，手动实现 -->
<script src="https://unpkg.com/vue@3"></script>

<div id="app"> 选择的名字有: {{ checkedNames }} </div>

<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack"> Jack </label>

<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john"> John </label>

<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike"> Mike </label>

<script>
    // setup() {

    // }
    Vue.createApp({
        data() {
            return {
                checkedNames: []
            }
        }
    }).mount('#app')

</script>